In [452]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [453]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

In [454]:
train1=pd.read_csv('/content/gdrive/MyDrive/Dataset/train1.csv')
train2=pd.read_csv('/content/gdrive/MyDrive/Dataset/train2.csv')
train3=pd.read_csv('/content/gdrive/MyDrive/Dataset/train3.csv')

In [455]:
test1=pd.read_csv('/content/gdrive/MyDrive/Dataset/test1.csv')
test2=pd.read_csv('/content/gdrive/MyDrive/Dataset/test2.csv')
test3=pd.read_csv('/content/gdrive/MyDrive/Dataset/test3.csv')

In [456]:
data1=train1.merge(train2, on='Merchant_ID')

In [457]:
data1.shape

(54213, 8)

In [458]:
train3.shape

(54213, 7)

In [459]:
data=data1.merge(train3, on='Merchant_ID')

In [460]:
t1=test1.merge(test2, on="Merchant_ID")
t=t1.merge(test3, on='Merchant_ID')
t.shape

(13554, 13)

In [461]:
data.head()

,Ecommerce_Provider_ID,Merchant_ID,Merchant_Registration_Date,Registered_Device_ID,Gender,Age,IP_Address,Fraudster,Customer_ID,Order_ID,Date_of_Order,Order_Value_USD,Order_Source,Order_Payment_Method
0,1746213,50448,2018-05-01 21:15:11,VATQMMZTVOZUT,F,39,48.151.136.76,0,129697,3b8983a83c7b,2018-07-30 10:59:13,90,SEO,Debit Card
1,1746213,338754,2018-04-14 10:13:00,LJCILLBRQZNKS,M,35,94.9.145.169,0,117390,34b5eb921228,2018-06-15 11:19:47,98,SEO,Internet Banking
2,1746213,291127,2018-06-20 07:44:22,JFVHSUGKDAYZV,F,40,58.94.157.121,0,120162,41a1c86ff08b,2018-08-13 10:06:26,95,SEO,Credit Card
3,1746213,319919,2018-06-27 01:41:39,WFRXMPLQYXRMY,M,37,193.187.41.186,0,128228,e8c3ad80d916,2018-07-22 15:46:51,100,Direct,E-wallet
4,1746213,195911,2018-01-05 00:55:41,GGHKWMSWHCMID,F,27,125.96.20.172,0,136029,e71ab1f26785,2018-04-16 08:02:44,78,SEO,E-wallet

In [462]:
data.shape

(54213, 14)

In [463]:
data.columns

Index(['Ecommerce_Provider_ID', 'Merchant_ID', 'Merchant_Registration_Date',
       'Registered_Device_ID', 'Gender', 'Age', 'IP_Address', 'Fraudster',
       'Customer_ID', 'Order_ID', 'Date_of_Order', 'Order_Value_USD',
       'Order_Source', 'Order_Payment_Method'],
      dtype='object')

In [464]:
data.dtypes

Ecommerce_Provider_ID          int64
Merchant_ID                    int64
Merchant_Registration_Date    object
Registered_Device_ID          object
Gender                        object
Age                            int64
IP_Address                    object
Fraudster                      int64
Customer_ID                    int64
Order_ID                      object
Date_of_Order                 object
Order_Value_USD                int64
Order_Source                  object
Order_Payment_Method          object
dtype: object

In [465]:
data.describe()

,Ecommerce_Provider_ID,Merchant_ID,Age,Fraudster,Customer_ID,Order_Value_USD
count,54213.0,54213.000000,54213.000000,54213.00000,54213.000000,54213.000000
mean,1746213.0,200395.176212,33.122240,0.09269,137966.285208,92.230240
std,0.0,115398.486895,8.630091,0.29000,15563.516156,45.673263
min,1746213.0,2.000000,18.000000,0.00000,111234.000000,22.000000
25%,1746213.0,100997.000000,27.000000,0.00000,124471.000000,55.000000
50%,1746213.0,200574.000000,32.000000,0.00000,137864.000000,88.000000
75%,1746213.0,300407.000000,39.000000,0.00000,151405.000000,122.000000
max,1746213.0,399993.000000,72.000000,1.00000,165000.000000,385.000000

In [466]:
data.nunique()

Ecommerce_Provider_ID             1
Merchant_ID                   54213
Merchant_Registration_Date    54213
Registered_Device_ID          51291
Gender                            2
Age                              53
IP_Address                    52028
Fraudster                         2
Customer_ID                   34081
Order_ID                      54213
Date_of_Order                 54161
Order_Value_USD                 116
Order_Source                      3
Order_Payment_Method              5
dtype: int64

In [467]:
waste=['Merchant_Registration_Date','Registered_Device_ID','IP_Address','Customer_ID','Order_ID','Date_of_Order','Ecommerce_Provider_ID']
data=data.drop(waste, axis=1)

In [468]:
t=t.drop(waste, axis=1)

In [469]:
MID=t['Merchant_ID']

In [470]:
data=data.drop('Merchant_ID', axis=1)
t=t.drop("Merchant_ID",axis=1)

In [471]:
data.shape

(54213, 6)

In [472]:
t.shape

(13554, 5)

In [473]:
data.dtypes

Gender                  object
Age                      int64
Fraudster                int64
Order_Value_USD          int64
Order_Source            object
Order_Payment_Method    object
dtype: object

In [474]:
cat=data.select_dtypes(include='object').columns
num=data.columns.difference(cat)
cat=t.select_dtypes(include='object').columns
num=t.columns.difference(cat)
data[cat]=data[cat].astype('category')
t[cat]=t[cat].astype('category')

In [475]:
data.dtypes

Gender                  category
Age                        int64
Fraudster                  int64
Order_Value_USD            int64
Order_Source            category
Order_Payment_Method    category
dtype: object

In [476]:
X_train,X_test,y_train,y_test=train_test_split(data.loc[:,data.columns!='Fraudster'], data['Fraudster'], test_size=0.2, stratify=data['Fraudster'],random_state=1)

In [477]:
si_num=SimpleImputer(strategy='mean')
si_cat=SimpleImputer(strategy='most_frequent')

In [478]:
X_train_num=X_train[num]
X_train_cat=X_train[cat]
X_test_num=X_test[num]
X_test_cat=X_test[cat]
t_num=t[num]
t_cat=t[cat]

In [479]:
X_train_num=pd.DataFrame(si_num.fit_transform(X_train_num),columns=X_train_num.columns)
X_train_cat=pd.DataFrame(si_cat.fit_transform(X_train_cat),columns=X_train_cat.columns)
X_test_num=pd.DataFrame(si_num.transform(X_test_num),columns=X_test_num.columns)
X_test_cat=pd.DataFrame(si_cat.transform(X_test_cat),columns=X_test_cat.columns)
t_cat=pd.DataFrame(si_cat.transform(t_cat),columns=t_cat.columns)
t_num=pd.DataFrame(si_num.transform(t_num),columns=t_num.columns)

In [480]:
sd=StandardScaler()
X_train_num=pd.DataFrame(sd.fit_transform(X_train_num),columns=X_train_num.columns)
X_test_num=pd.DataFrame(sd.transform(X_test_num),columns=X_test_num.columns)
t_num=pd.DataFrame(sd.transform(t_num),columns=t_num.columns)

In [481]:
ohe=OneHotEncoder(handle_unknown='ignore')
X_train_cat=pd.DataFrame(ohe.fit_transform(X_train_cat).todense(),columns=ohe.get_feature_names_out())
X_test_cat=pd.DataFrame(ohe.transform(X_test_cat).todense(),columns=ohe.get_feature_names_out())
t_cat=pd.DataFrame(ohe.transform(t_cat).todense(),columns=ohe.get_feature_names_out())

In [482]:
X_train_cat.shape

(43370, 10)

In [483]:
t_cat.shape

(13554, 10)

In [484]:
X_train=pd.concat([X_train_num,X_train_cat],axis=1)
X_test=pd.concat([X_test_num,X_test_cat],axis=1)
t=pd.concat([t_num,t_cat],axis=1)

In [485]:
#Model Building
model=LogisticRegression()
log=model.fit(X_train, y_train)

In [486]:
trainp=log.predict(X_train)
testp=log.predict(X_test)

In [487]:
print(classification_report(y_train,trainp))
print(classification_report(y_test,testp))

              precision    recall  f1-score   support

           0       0.91      1.00      0.95     39350
           1       0.00      0.00      0.00      4020

    accuracy                           0.91     43370
   macro avg       0.45      0.50      0.48     43370
weighted avg       0.82      0.91      0.86     43370

              precision    recall  f1-score   support

           0       0.91      1.00      0.95      9838
           1       0.00      0.00      0.00      1005

    accuracy                           0.91     10843
   macro avg       0.45      0.50      0.48     10843
weighted avg       0.82      0.91      0.86     10843

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [494]:
tp=log.predict(t)

AttributeError: ignored

In [496]:
tp=pd.DataFrame(tp)

In [497]:
Final=pd.concat([MID,tp],axis=1)

In [498]:
Final

       Merchant_ID  0
0            53637  0
1           243517  0
2           343640  0
3            69889  0
4           125706  0
...            ... ..
13549       279884  0
13550       206253  0
13551       313049  0
13552       304081  0
13553       319050  0

[13554 rows x 2 columns]

In [499]:
Finaldata=Final.to_csv('final.csv')